# 1. Data Loading and Understanding
Load a CSV file :

In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("D:\Imarticus\PythonIMR\EDA_Numerical.csv")
df

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
0,-0.4394,-0.0930,0.1718,0.4620,0.6226,0.4704,0.3578,0.0478,-0.1184,-0.2310,...,0.4102,0.2052,0.3846,0.3590,0.5898,0.3334,0.6410,0.5898,-0.4872,'1'
1,-0.4348,-0.1198,0.2474,0.4036,0.5026,0.6328,0.4948,0.0338,-0.0520,-0.1302,...,0.0000,0.2954,0.2046,0.4772,0.0454,0.2046,0.4318,0.4546,-0.0910,'1'
2,-0.2330,0.2124,0.5014,0.5222,-0.3422,-0.5840,-0.7168,-0.6342,-0.8614,-0.8318,...,-0.1112,-0.0476,-0.1746,0.0318,-0.0476,0.1112,0.2540,0.1588,-0.4762,'2'
3,-0.3808,-0.0096,0.2602,0.2554,-0.4290,-0.6746,-0.6868,-0.6650,-0.8410,-0.9614,...,-0.0504,-0.0360,-0.1224,0.1366,0.2950,0.0792,-0.0072,0.0936,-0.1510,'2'
4,-0.3412,0.0946,0.6082,0.6216,-0.1622,-0.3784,-0.4324,-0.4358,-0.4966,-0.5406,...,0.1562,0.3124,0.2500,-0.0938,0.1562,0.3124,0.3124,0.2188,-0.2500,'3'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,-0.6842,-0.3280,-0.1984,0.2956,0.8786,0.8948,0.3118,0.1822,0.1012,0.1740,...,0.7738,0.7738,0.7142,0.6428,0.5952,0.5714,0.3928,0.4286,0.2858,'24'
7793,-0.5912,-0.2420,0.8174,1.0000,0.4642,0.6428,0.6944,0.3056,-0.3888,-0.6826,...,0.1924,-0.1154,0.0192,0.2116,-0.0384,0.0192,-0.2308,-0.4230,-0.7116,'25'
7794,-0.6696,-0.3730,0.1584,0.8910,1.0000,0.9762,0.9762,0.7684,0.4106,0.0154,...,0.0910,0.1818,0.2000,0.1454,0.0182,-0.2910,0.0728,0.0728,-0.5818,'25'
7795,-0.5764,-0.1764,0.5106,0.3742,-0.1670,-0.5858,-0.7882,-0.7224,-0.6330,-0.8212,...,0.4130,0.5870,0.4348,0.5652,0.3478,-0.0434,0.3044,-0.0434,-0.5000,'26'
7796,-0.6624,-0.3334,0.3666,0.4292,-0.2084,-0.5374,-0.4542,-0.6208,-0.6376,-0.5042,...,0.2520,0.2846,0.4146,0.3170,0.2520,-0.0244,-0.0894,-0.1708,-0.3170,'26'

# 2. Inspect the dataset :
head()/describe()/shape/columns/info()

In [5]:
df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
0,-0.4394,-0.0930,0.1718,0.4620,0.6226,0.4704,0.3578,0.0478,-0.1184,-0.2310,...,0.4102,0.2052,0.3846,0.3590,0.5898,0.3334,0.6410,0.5898,-0.4872,'1'
1,-0.4348,-0.1198,0.2474,0.4036,0.5026,0.6328,0.4948,0.0338,-0.0520,-0.1302,...,0.0000,0.2954,0.2046,0.4772,0.0454,0.2046,0.4318,0.4546,-0.0910,'1'
2,-0.2330,0.2124,0.5014,0.5222,-0.3422,-0.5840,-0.7168,-0.6342,-0.8614,-0.8318,...,-0.1112,-0.0476,-0.1746,0.0318,-0.0476,0.1112,0.2540,0.1588,-0.4762,'2'
3,-0.3808,-0.0096,0.2602,0.2554,-0.4290,-0.6746,-0.6868,-0.6650,-0.8410,-0.9614,...,-0.0504,-0.0360,-0.1224,0.1366,0.2950,0.0792,-0.0072,0.0936,-0.1510,'2'
4,-0.3412,0.0946,0.6082,0.6216,-0.1622,-0.3784,-0.4324,-0.4358,-0.4966,-0.5406,...,0.1562,0.3124,0.2500,-0.0938,0.1562,0.3124,0.3124,0.2188,-0.2500,'3'

In [12]:
df.describe()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f608,f609,f610,f611,f612,f613,f614,f615,f616,f617
count,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,...,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000,7797.000000
mean,-0.385396,0.141103,0.347384,0.450659,0.324283,0.163589,0.023852,-0.081577,-0.149191,-0.191763,...,0.370768,0.341730,0.311678,0.318904,0.334451,0.299238,0.224122,0.186668,0.081370,-0.281416
std,0.236721,0.320090,0.326658,0.308301,0.461491,0.569970,0.559704,0.535142,0.528714,0.515343,...,0.335582,0.330835,0.328813,0.333747,0.334954,0.334282,0.336135,0.337780,0.332859,0.354418
min,-1.000000,-0.892600,-0.975200,-0.968000,-0.996600,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-0.609400,-0.803400,-0.775200,-0.830200,-0.711800,-0.770800,-0.810600,-0.780200,-0.802800,-0.962600
25%,-0.546800,-0.099400,0.105400,0.247800,-0.024800,-0.359600,-0.461600,-0.526800,-0.577400,-0.601200,...,0.130400,0.098000,0.071400,0.073600,0.088600,0.049200,-0.017800,-0.057600,-0.154600,-0.546600
50%,-0.414000,0.106400,0.333400,0.453200,0.415800,0.204200,-0.010800,-0.154400,-0.233200,-0.261000,...,0.366200,0.337400,0.294200,0.295000,0.315800,0.280000,0.192400,0.157800,0.045200,-0.329000
75%,-0.241000,0.354600,0.583400,0.668600,0.692400,0.686200,0.492400,0.304400,0.190200,0.120000,...,0.622600,0.588800,0.548800,0.565800,0.581600,0.541200,0.461600,0.410800,0.289800,-0.065600
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.889800

In [7]:
df.shape

(7797, 618)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7797 entries, 0 to 7796
Columns: 618 entries, f1 to class
dtypes: float64(613), int64(4), object(1)
memory usage: 36.8+ MB

In [10]:
df.columns

Index(['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10',
       ...
       'f609', 'f610', 'f611', 'f612', 'f613', 'f614', 'f615', 'f616', 'f617',
       'class'],
      dtype='object', length=618)

# Handling Missing Data

Check for missing values:

In [14]:
df.isnull().sum()

f1       0
f2       0
f3       0
f4       0
f5       0
        ..
f614     0
f615     0
f616     0
f617     0
class    0
Length: 618, dtype: int64

 Drop or fill missing values:

In [17]:
# df=df.dropna()
# df["columnname"]=df["columnname"].fillna(value)

# 3. Data Cleaning
Rename columns:

In [19]:
df.rename(columns={"class" : "Type"}, inplace=True)

In [20]:
df.columns

Index(['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10',
       ...
       'f609', 'f610', 'f611', 'f612', 'f613', 'f614', 'f615', 'f616', 'f617',
       'Type'],
      dtype='object', length=618)

 Remove duplicates:

In [21]:
df=df.drop_duplicates()

In [25]:
df["Type"]=df["Type"].astype(int)

ValueError: invalid literal for int() with base 10: "'1'"

In [24]:
df["Type"].dtype

dtype('O')

In [36]:

# Sample data
data = {'Type': ["'1'", "'2'", " 3", "'4'", "five"]}
df = pd.DataFrame(data)

print("Before Cleaning:")
print(df)

# Step 1: Remove single quotes and extra spaces
df['Type'] = df['Type'].str.replace("'", "", regex=False).str.strip()

# Step 2: Convert to numeric, setting invalid values to NaN
df['Type'] = pd.to_numeric(df['Type'], errors='coerce')

# Step 3: Check for NaN (optional)
print("Invalid values converted to NaN:")
print(df[df['Type'].isna()])

# Step 4: Drop or fill NaN, then convert to int
df = df.dropna(subset=['Type'])  # Drop rows with NaN
df['Type'] = df['Type'].astype(int)

print("After Cleaning:")
print(df)

Before Cleaning:
   Type
0   '1'
1   '2'
2     3
3   '4'
4  five
Invalid values converted to NaN:
   Type
4   NaN
After Cleaning:
   Type
0     1
1     2
2     3
3     4

In [37]:
df["Type"]

0    1
1    2
2    3
3    4
Name: Type, dtype: int32

In [38]:
df

   Type
0     1
1     2
2     3
3     4